{% extends 'base.html' %}
{% block title %}What would you want to know about you{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}?v={{ timestamp }}">
{% block content %}

<div class="info-container">
            <a href="/music/artist-selection/" class="menu-button">My Artists</a>
            <a href="/music/song-selection/" class="menu-button">Top Tracks</a>
            <a href="/music/genres/" class="menu-button">Top Genres</a>
            <a href="/music/discover/" class="menu-button">Discover</a>
</div>

{% endblock %}
